[submodule "submodules/sway.module_core"]
	path = submodules/sway.module_core
	url = https://github.com/timcogames/sway.module_core.git
[submodule "submodules/sway.module_math"]
	path = submodules/sway.module_math
	url = https://github.com/timcogames/sway.module_math.git
